% rebase('template/osnova.html', title='Ekipe')

<h1 class="fs-5">Najbolj pogoste države in njihove ekipe</h1>

<div class="row">
    <div class="col-sm-4">
        <ul>
            <li>
                <div class="column">
                    <div class="column">
                        <img src="static/img/german_flag.png" alt="German flag" height="35px" width="45px">
                    </div>
                </div>
            </li>
        % for n in nemci:
        <li>
            <div class="column">

                <div class="column"  onclick="window.location.href='/ekipa/{{n[0]}}';" style="cursor: pointer;">{{n[1]}}</div>
            </div>
        </li>
        % end
        </ul>
    </div>
    <div class="col-sm-4">
        <ul>
            <li>
                <div class="column">
                    <div class="column">
                        <img src="static/img/gb_flag.png" alt="German flag" height="35px" width="45px">
                    </div>
                </div>
            </li>
            % for a in anglezi:
            <li>
                <div class="column">
                    <div class="column" onclick="window.location.href='/ekipa/{{a[0]}}';" style="cursor: pointer;">{{a[1]}}</div>
                </div>
            </li>
            % end
        </ul>
    </div>
    <div class="col-sm-4">
        <ul>
            <li>
                <div class="column">
                    <div class="column">
                        <img src="static/img/it_flag.png" alt="German flag" height="35px" width="45px">
                    </div>
                </div>
            </li>
            % for i in italjani:
            <li>
                <div class="column">
                    <div class="column" onclick="window.location.href='/ekipa/{{i[0]}}';" style="cursor: pointer;">{{i[1]}}</div>
                </div>
            </li>
            % end
        </ul>
    </div>
</div>
