% rebase('template/osnova.html', title='Domov')
<style>
    html {
      background-image: url('/static/img/odzadje2.jpg');
      background-size: cover;
            background-repeat: no-repeat;
    }
  </style>

<h1 font-size="100px" >Formula 1 skozi čas</h1>

<p>
    Dobrodošli na spletni strani zgodovine fromule 1. Tu si lahko ogledaš dirkače, dirkališča in ekipe ned leti 1950 in 2023.
    <li>Če želiš si ogledati dirkače, klikni link <a href="/dirkači">dirkači</a>.</li>
    <li>Če želiš dobiti rezultate za posamezno poddisciplino in leto, klikni link <a href="/results">rezultati</a>.</li>
    <li>Če si iz protidopinškega komisija, se z uporabniškim imenom in geslom <a href="/register">registriraj</a>.</li>
  </p>

