<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formula 1 skozi čas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
      html {
        background-image: url('/static/img/odzadje4.jpg');
        background-size: cover;
			  background-position: center center;
			  background-repeat: no-repeat;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Domača stran</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">Domov</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/dirkaci">Rezultati</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/dirkalisca">Tekmovalci</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/ekipa">Tekmovalci</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
  <div class="container">
    {{ !base }}
  </div>
  <!--div>
  <p style="color:coral">
    Navadno basedil
  </p>
  <h2 style="background-color: green;">
    Ozdaje je zeleno
  </h2>
  <img src="/static/slikice/F1-75_JPG_SPONSOR_00004.jpg", alt="Neka slika">
</div-->
  </body>
</html>